footer.footer-page{
	background: #1a1a1a;
	border-right: 1px solid #313131;
	height: 130px;
	color: #808080;
}
footer.footer-page a{color: #808080}
footer.footer-page a:hover{color: #FFF}
footer.footer-page .footer-top{
	border-bottom: 1px solid #313131;
	height: 48px;
	font-size: 14px;
	padding: 32px 20px 0 20px;
	margin-bottom: 17px;
}

footer.footer-page .footer-top .iselect-city{
	float: left;
	border-color: #313131;
	width: 108px;
	height: 28px;
	margin: -4px 22px 0 0;
}
footer.footer-page .footer-top .iselect-city .iselect-header{
	height: 28px;
	line-height: 26px;
	padding: 0 28px 0 12px;
}
footer.footer-page .footer-top .iselect-city .iselect-header:after{
	background-position: -8px -6px;
	right: 12px;
	top: 12px;
	opacity: 0.7;
}
footer.footer-page .footer-top .iselect.iselect-city.iselect-open .iselect-header:after{opacity: 1}
footer.footer-page .footer-top .iselect.iselect-bottom ul.iselect-options-list{bottom: 29px}
footer.footer-page .footer-top .iselect-city ul.iselect-options-list li a {
    color: #fff;
    display: block;
    padding: 6px 12px 6px 13px;
    text-decoration: none;
}








footer.footer-page nav.nav-bottom{float: left}
footer.footer-page nav.nav-bottom ul li{
	float: left;
	margin-left: 26px;
}
footer.footer-page nav.nav-bottom ul li:first-child{margin: 0}

footer.footer-page ul.social-list{float: right}
footer.footer-page ul.social-list li{
	float: left;
	margin-left: 14px;
}
footer.footer-page ul.social-list li a{
	float: left;
	background: url("../img/icons.png") no-repeat;
	background: none, url("../img/icons.svg") no-repeat;
	width: 18px;
	height: 18px;
}
footer.footer-page ul.social-list li.social-fb a{background-position: 0 -89px}
footer.footer-page ul.social-list li.social-vk a{background-position: -19px -89px}
footer.footer-page ul.social-list li.social-tw a{background-position: -38px -89px}
footer.footer-page ul.social-list li.social-rss a{background-position: -57px -89px}
footer.footer-page ul.social-list li.social-fb a:hover{background-position: 0 -70px}
footer.footer-page ul.social-list li.social-vk a:hover{background-position: -19px -70px}
footer.footer-page ul.social-list li.social-tw a:hover{background-position: -38px -70px}
footer.footer-page ul.social-list li.social-rss a:hover{background-position: -57px -70px}


footer.footer-page .copyright{
	float: left;
	font-size: 11px;
	letter-spacing: 0.6px;
	white-space: nowrap;
	padding: 0 0 0 20px;
}
footer.footer-page .copyright span{font-style: oblique}
footer.footer-page .maker{
	float: right;
	font-size: 12px;
	padding: 0 20px 0 0;
}
