.b-top-banner{
	background: #000;
	height: 130px;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}

header.header-page{
	background: #FFF;
	border-bottom: 1px solid #eeeeee;
	width: 920px;
	z-index: 5;
}
header.header-page.fixed{
	border-bottom-color: rgba(51,51,51,.1);
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -630px;
	z-index: 20;
	-webkit-background-clip: padding-box;
	   -moz-background-clip: padding-box;
			background-clip: padding-box;
}
header.header-page.fixed:after{
	content: "";
	display: block;
	border-bottom: 3px solid rgba(51,51,51,.1);
	height: 0;
	font-size: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
}
header.header-page .b-site-search{
	display: none;
	background: #404040;
	height: 70px;
	position: relative;
}
header.header-page .b-site-search input[type="search"],
header.header-page .b-site-search input[type="text"]{
	border: none;
	height: 70px;
	background: #404040;
	font-size: 35px;
	color: #FFF;
	padding: 11px 70px 12px 20px;
}
header.header-page .b-site-search input[type="submit"] {
    background: url("../img/icons.png") no-repeat;
    background: none, url("../img/icons.svg") no-repeat;
    background-color: #404040;
    background-position: -85px 0;
    border: 23px solid #404040;
    border-bottom-width: 24px;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
	right: 0;
    text-indent: -9999px;  
}




header.header-page .header-container{
	height: 70px;
	padding-left: 20px;
}
header.header-page .logo{
	float: left;
	margin-top: 20px;
}
header.header-page .logo a{
	float: left;
	background:  url("../img/logo.png") no-repeat;
	background: none,  url("../img/logo.svg") no-repeat;
	width: 164px;
	height: 36px;
}
header.header-page .section-name{
	float: left;
	font-size: 20px;
	line-height: 1;
	margin: 34px 0 0 24px;
}



header.header-page .toolbar{float: right}
header.header-page .toolbar ul.toolbar-list > li{
	float: left;
	border-left: 1px solid #e6e6e6;
	font-size: 17px;
	font-weight: bold;
}
header.header-page .toolbar ul.toolbar-list > li > a{
	float: left;
	width: 70px;
	height: 71px;
	line-height: 69px;
	text-align: center;
	color: #808080;
	margin-left: -1px;
	position: relative;
	-webkit-transition: none;
	   -moz-transition: none;
	   	-ms-transition: none;
		 -o-transition: none;
			transition: none;
}
header.header-page .toolbar ul.toolbar-list > li > a:before{
	content: "";
	background: url("../img/icons.png") no-repeat;
	background: none, url("../img/icons.svg") no-repeat
}
header.header-page .toolbar ul.toolbar-list > li > a:hover,
header.header-page .toolbar ul.toolbar-list > li > a.tool-selected:hover{
	background-color: #000;
	color: #FFF;
}
header.header-page .toolbar ul.toolbar-list > li > a.tool-selected{
	background-color: #404040;
	
}






header.header-page .toolbar ul.toolbar-list > li > a.tool-location{}
header.header-page .toolbar ul.toolbar-list > li > a.tool-location:before{
	background-position: -92px -26px;
	width: 14px;
	height: 18px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -9px 0 0 -7px;
}
header.header-page .toolbar ul.toolbar-list > li > a.tool-location:hover:before,
header.header-page .toolbar ul.toolbar-list > li > a.tool-location.tool-selected:before{background-position: -92px -49px}






header.header-page .toolbar ul.toolbar-list > li > a.tool-search{}
header.header-page .toolbar ul.toolbar-list > li > a.tool-search:before{
	background-position: -27px -127px;
	width: 17px;
	height: 17px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -10px 0 0 -9px;
}
header.header-page .toolbar ul.toolbar-list > li > a.tool-search:hover:before{background-position: -63px -127px}
header.header-page .toolbar ul.toolbar-list > li > a.tool-search.tool-selected:before{
	background-position: 0 -127px;
	width: 13px;
	height: 13px;
	top: 50%;
	left: 50%;
	margin: -7px 0 0 -7px;
}
header.header-page .toolbar ul.toolbar-list > li > a.tool-search.tool-selected:hover:before,
header.header-page .toolbar ul.toolbar-list > li > a.tool-search.tool-selected.tool-selected:before{background-position: -14px -127px}

header.header-page .toolbar ul.toolbar-list > li > a.tool-menu{
	height: 29px;
	font-size: 10px;
	line-height: 1;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #1a1a1a;
	padding-top: 42px;
}
header.header-page .toolbar ul.toolbar-list > li > a.tool-menu:before{
	background-position: 0 0;
	width: 30px;
	height: 22px;
	position: absolute;
	top: 17px;
	left: 19px;
}
header.header-page .toolbar ul.toolbar-list > li > a.tool-menu:hover,
header.header-page .toolbar ul.toolbar-list > li > a.tool-menu.tool-selected{color: #FFF}
header.header-page .toolbar ul.toolbar-list > li > a.tool-menu:hover:before,
header.header-page .toolbar ul.toolbar-list > li > a.tool-menu.tool-selected:before{background-position: -30px 0}


header.header-page .toolbar ul.toolbar-list > li.location-container{position: relative}
header.header-page .toolbar ul.toolbar-list > li.location-container .tool-locations-container{
	display: none;
	width: 210px;
	height: 119px;
	margin-left: -1px;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 10;
	overflow: hidden;
}
header.header-page .toolbar ul.toolbar-list > li.location-container ul.locations-list{
	background: #1a1a1a;
	width: 235px;
	height: 119px;
	overflow-y: scroll;
	font-size: 14px;
	font-weight: normal;

}
header.header-page .toolbar ul.toolbar-list > li.location-container ul.locations-list li{border-top: 1px solid #313131}
header.header-page .toolbar ul.toolbar-list > li.location-container ul.locations-list li:first-child{border-top: none}
header.header-page .toolbar ul.toolbar-list > li.location-container ul.locations-list li a{
	display: block;
	color: #FFF;
	text-decoration: none;
	padding: 11px 12px 11px 13px;
}

header.header-page .toolbar ul.toolbar-list > li.location-container ul.locations-list li a:hover{background-color: #252525}




header.header-page .mobile-menu{display: none}



header.header-page a.mobile-menu{
	float: left;
	border-bottom: 1px solid #2b2b2b;
	width: 104px;
	height: 37px;
	color: #FFF;
	font-size: 10px;
	line-height: 1;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 52px;
	position: relative;
}
header.header-page a.mobile-menu:before{
	content: "";
	background: url("../img/icons.png") no-repeat;
	background: none, url("../img/icons.svg") no-repeat;
	background-position: 0 0;
	background-position: -30px 0;
	width: 30px;
	height: 22px;
	position: absolute;
	top: 27px;
	left: 35px;
}




@media (max-width: 1260px) {
	.b-top-banner{
		width: 920px;
		height: 90px;
		padding-left: 104px;
	}
	
	header.header-page,
	header.header-page.fixed{
		background: #1a1a1a;
		border: none;
		border-right: 1px solid  #2b2b2b;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 103px;
		margin: 0;
		z-index: 20;
	}
	
	header.header-page .header-container{
		height: auto;
		padding: 0;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	header.header-page .logo{
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -82px 0 0 -18px ;
	}
	header.header-page .logo a{
		float: left;
		background: url("../img/logo-vertical.svg") no-repeat;
		width: 36px;
		height: 164px;
	}
	header.header-page .section-name{display: none}
	header.header-page .toolbar{
		width: 104px;
		margin-bottom: 0;
		position: absolute;
		left: 0;
		bottom: 0;
	}
	header.header-page .toolbar ul.toolbar-list > li{
		border: 1px solid #2b2b2b;
		border-width: 1px 0 0;
	}
	header.header-page .toolbar ul.toolbar-list > li:last-child{display: none}
	
	header.header-page .toolbar ul.toolbar-list > li > a{
		width: 104px;
		height: 89px;
		line-height: 87px;
	}
	
	header.header-page .toolbar ul.toolbar-list > li > a.tool-selected {background-color: #404040}
	header.header-page .toolbar ul.toolbar-list > li > a.tool-search.tool-selected:before{background-position: -14px -127px}
	
	header.header-page .toolbar ul.toolbar-list > li > a.tool-location.tool-selected:before{background-position: -92px -49px}
	
	header.header-page .toolbar ul.toolbar-list > li.location-container .tool-locations-container{
		top: auto;
		left: 100%;
		bottom: -1px;
	}

	header.header-page a.mobile-menu{
		display: block;
		float: left;
		border-bottom: 1px solid #2b2b2b;
		width: 104px;
		height: 37px;
		color: #FFF;
		font-size: 10px;
		line-height: 1;
		letter-spacing: 1px;
		text-align: center;
		text-transform: uppercase;
		padding-top: 52px;
		position: relative;
	}
	header.header-page a.mobile-menu:before{
		content: "";
		background: url("../img/icons.png") no-repeat;
		background: none, url("../img/icons.svg") no-repeat;
		background-position: 0 0;
		background-position: -30px 0;
		width: 30px;
		height: 22px;
		position: absolute;
		top: 27px;
		left: 35px;
	}

	header.header-page a.mobile-menu.tool-selected{background-color: #404040}
	
	header.header-page .b-site-search{
		width: 920px;
		margin-left: 1px;
		position: absolute;
		bottom: 0;
		left: 100%;
		overflow: hidden;
	}
	header.header-page .b-site-search{
		height: 89px;
		border-top: 1px solid #e6e6e6;
	}
	header.header-page .b-site-search input[type="search"],
	header.header-page .b-site-search input[type="text"]{
		height: 89px;
		background: #FFF;
		color: #404040;
		padding: 14px 88px 15px 20px;
	}
	header.header-page .b-site-search input[type="submit"] {
		background-color: #FFF;
		background-position: -61px 0;
	    border: 32px solid #FFF;
	    border-bottom-width: 33px;
	    width: 89px;
	    height: 89px;
	}
	
}





@media (min-width: 1580px) {
	header.header-page{width: 1240px}
	header.header-page.fixed{margin-left: -790px}
}




