.icheckbox{font-size: 14px}
.icheckbox_checkbox,
.icheckbox_radio {
    display: inline-block;
    *display: inline;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    width: 10px;
    height: 10px;
    border: 1px solid #dedede;
    cursor: pointer;
    margin-right: 3px;
    position: relative;
    top: 1px;
}
.icheckbox_radio {border-radius: 50%}
.icheckbox_checkbox{}

.icheckbox_checkbox.hover,
.icheckbox_radio.hover{border-color: #1a1a1a}

.icheckbox_checkbox.checked{}

.icheckbox_checkbox.checked:before,
.icheckbox_radio.checked:before{
	content: "";
	background: #1a1a1a;
	width: 6px;
	height: 6px;
	font-size: 0;
	position: absolute;
	top: 2px;
	left: 2px;
}
.icheckbox_radio.checked:before{border-radius: 50%}

.icheckbox_checkbox.disabled,
.icheckbox_radio.disabled{
    background-color: #f7f7f7;
    cursor: default;
}
.icheckbox_checkbox.checked.disabled,
.icheckbox_radio.checked.disabled {background: none}
.icheckbox_checkbox.checked.disabled:before,
.icheckbox_radio.checked.disabled:before{background-color: #dedede}

.icheckbox.icheckbox-large{
 	font-size: 19px;
 	top: -1px;
 }
.icheckbox.icheckbox-large .icheckbox_checkbox,
.icheckbox.icheckbox-large .icheckbox_radio{
	top: -1px;
}


.icheckbox.icheckbox-interview .icheckbox_checkbox.hover,
.icheckbox.icheckbox-interview .icheckbox_radio.hover{border-color: #bd7da2}
.icheckbox.icheckbox-interview .icheckbox_checkbox.checked:before,
.icheckbox.icheckbox-interview .icheckbox_radio.checked:before{background-color: #bd7da2}
.icheckbox.icheckbox-interview .icheckbox_checkbox.checked.disabled:before,
.icheckbox.icheckbox-interview .icheckbox_radio.checked.disabled:before{background-color: #da968e}


.icheckbox.icheckbox-event .icheckbox_checkbox.hover,
.icheckbox.icheckbox-event .icheckbox_radio.hover{border-color: #5aad8b}
.icheckbox.icheckbox-event .icheckbox_checkbox.checked:before,
.icheckbox.icheckbox-event .icheckbox_radio.checked:before{background-color: #5aad8b}
.icheckbox.icheckbox-event .icheckbox_checkbox.checked.disabled:before,
.icheckbox.icheckbox-event .icheckbox_radio.checked.disabled:before{background-color: #80c4a8}


.icheckbox.icheckbox-address .icheckbox_checkbox.hover,
.icheckbox.icheckbox-address .icheckbox_radio.hover{border-color: #c96f65}
.icheckbox.icheckbox-address .icheckbox_checkbox.checked:before,
.icheckbox.icheckbox-address .icheckbox_radio.checked:before{background-color: #c96f65}
.icheckbox.icheckbox-address .icheckbox_checkbox.checked.disabled:before,
.icheckbox.icheckbox-address .icheckbox_radio.checked.disabled:before{background-color: #da968e}

.icheckbox.icheckbox-person .icheckbox_checkbox.hover,
.icheckbox.icheckbox-person .icheckbox_radio.hover{border-color: #599499}
.icheckbox.icheckbox-person .icheckbox_checkbox.checked:before,
.icheckbox.icheckbox-person .icheckbox_radio.checked:before{background-color: #599499}
.icheckbox.icheckbox-person .icheckbox_checkbox.checked.disabled:before,
.icheckbox.icheckbox-person .icheckbox_radio.checked.disabled:before{background-color: #80b1b5}




.iselect{
	display: inline-block;
	border: 1px solid #e6e6e6;
	width: 208px;
	height: 38px;
	font-size: 14px;
	position: relative;
	z-index: 2;
}
.iselect .iselect-header{
	height: 38px;
	line-height: 36px;
	padding: 0 28px 0 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	position: relative;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
		 -o-user-select: none;
			user-select: none;
}
.iselect .iselect-header:after{
	content: "";
	background: url("../img/arrow-select.png") no-repeat 0 -6px;
	background-size: 16px 12px;
	width: 8px;
	height: 6px;
	position: absolute;
	top: 16px;
	right: 16px;
}
.iselect .iselect-value{
	display: none;
}
.iselect ul.iselect-options-list{
	display: none;
	background: #1a1a1a;
	position: absolute;
	top: 39px;
	left: -1px;
	right: -1px;
}

.iselect.iselect-bottom ul.iselect-options-list{
	top: auto;
	bottom: 39px;
}

.iselect ul.iselect-options-list li{border-top: 1px solid #313131}
.iselect ul.iselect-options-list li:first-child{border-top: none}
.iselect ul.iselect-options-list li a{
	display: block;
	color: #FFF;
	text-decoration: none;
	padding: 11px 12px 11px 13px;
}
.iselect ul.iselect-options-list li a:hover,
.iselect ul.iselect-options-list li .icheckbox:hover{background-color: #252525}
.iselect ul.iselect-options-list li .icheckbox{
	display: block;
	float: none;
	color: #FFF;
	margin: 0;
	padding: 12px 12px 11px 34px;
	min-height: 18px;
}
.iselect ul.iselect-options-list li .icheckbox_checkbox,
.iselect ul.iselect-options-list li .icheckbox_radio{
	float: left;
	border-color: #484848;
	margin: 2px 0 0 -21px;
}
/*.iselect ul.iselect-options-list li .icheckbox_checkbox.checked:before,
.iselect ul.iselect-options-list li .icheckbox_radio.checked:before{
	background-color: #484848;
}*/



.iselect.iselect-open{border-color: #808080}
.iselect.iselect-open ul.iselect-options-list{display: block}

.iselect.iselect-open .iselect-header{
	background-color: #808080;
	color: #FFF;
}
.iselect.iselect-open .iselect-header:after{background-position: -8px -6px}

.iselect.iselect-small{width: 168px}
.iselect.iselect-xsmall{width: 88px}

.iselect.iselect-xsmall .iselect-header{padding-right: 24px}
.iselect.iselect-xsmall .iselect-header:after{right: 12px}








.iselect.iselect-interview.iselect-open{border-color: #bd7da2}
.iselect.iselect-interview.iselect-open .iselect-header{background-color: #bd7da2}

.iselect.iselect-event.iselect-open{border-color: #5aad8b}
.iselect.iselect-event.iselect-open .iselect-header{background-color: #5aad8b}

.iselect.iselect-address.iselect-open{border-color: #c96f65}
.iselect.iselect-address.iselect-open .iselect-header{background-color: #c96f65}

.iselect.iselect-person.iselect-open{border-color: #599499}
.iselect.iselect-person.iselect-open .iselect-header{background-color: #599499}




